.container-fluid 
    .row 
        margin 15px 0px 15px 0px
        img   
            height 150px
            width auto
        h1  
            font-size 18px
            margin-top 10px
        p   
            font-size 14px
