<div class="container-fluid">
  <div class = "row search d-flex justify-content-center"> 
    <div class="col-md-6 col-sm-8">
      <div class="input-group input-group-lg">
        <input (keyup)="onKey($event)" type="text" class="form-control" placeholder="Search for... awesomeness" aria-label="q">
      </div>
    </div>
    <div class="row d-flex text-center gifs">
        <div class="col-md-4 col-sm-12" *ngFor="let gif of gifs">
          <app-gif [url]="gif.images.original.url"></app-gif>
        </div>
      </div>
    </div>
</div>
    
