nav  
    background-color #ffffff
    .collapse form input  
        border-radius 50px
        border-color #41B883
        border-style solid 
        border-width 1px

@media (max-width: 600px)
    nav 
        a   
            display none
