.header 
    padding 5% 0% 3% 0%
    div.col-md-5
        h1
            font-family 'Source Sans Pro', sans-serif
            line-height 150%
            margin-bottom 40px
        button.started
            border-radius 50px
            border-style solid 
            border-width 1px
            border-color #4FC08D
            background-color #4FC08D
            color #ffffff
            padding 10px 40px 10px 40px
            font-family 'Open Sans', sans-serif
            font-size 14px
            font-weight 600
            font-stretch expanded

        button.github
            margin-left 15px
            border-radius 50px
            border-style solid 
            border-width 1px
            border-color #4FC08D
            background-color #ffffff
            color #4FC08D
            padding 10px 40px 10px 40px
            font-family 'Open Sans', sans-serif
            font-size 14px
            font-weight 600
            font-stretch expanded

