<div class="header container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="title col-md-10 col-sm-12">
        <span class="normal">FLOW IS</span> A STATIC TYPE CHECKER FOR <span class="normal">JAVASCRIPT.</span>
    </div>
    <div class="button col-md-10 col-sm-12">
      <button type="button" class="btn btn-secondary btn-lg">GET STARTED</button>
      <button type="button" class="btn  btn-secondary btn-lg">INSTALL FLOW</button>
    </div>
    <div class="version col-md-10 col-sm-12">
      <p>Current Version: <span class="emp">v0.54.1</span></p>
    </div>
  </div>
</div>
