shadow = #2D343A

.header
    background-color #384048
    overflow hidden
    padding 11% 0 6% 0
    .button 
        margin-top 3%
        button
            display inline-block
            background-color transparent 
            color #ffffff
            border-radius 0px
            border 3px solid #C9C6C6
            font-size 25px
            font-weight 800
            margin-right 30px
        button:hover
            background-color #E8BD36
            color #384048
            border-color #E8BD36
    .version
        margin-top 2%
        color #ffffff
        .emp
            font-weight 700
            text-decoration underline   
    .title
        font-size 70px
        font-weight 800
        color #E8BD36
        line-height 1.1
        text-shadow shadow 2px 2px,
        shadow 3px 3px,
        shadow 4px 4px,
        shadow 5px 5px,
        shadow 6px 6px,
        shadow 7px 7px,
        shadow 8px 8px,
        shadow 9px 9px,
        shadow 10px 10px,
        shadow 11px 11px,
        shadow 12px 12px,
        shadow 13px 13px,
        shadow 14px 14px,
        shadow 15px 15px,
        shadow 16px 16px,
        shadow 17px 17px,
        shadow 18px 18px,
        shadow 19px 19px,
        shadow 20px 20px,
        shadow 21px 21px,
        shadow 22px 22px,
        shadow 23px 23px,
        shadow 24px 24px,
        shadow 25px 25px,
        shadow 26px 26px,
        shadow 27px 27px,
        shadow 28px 28px,
        shadow 29px 29px,
        shadow 30px 30px,
        shadow 31px 31px,
        shadow 32px 32px,
        shadow 33px 33px,
        shadow 34px 34px,
        shadow 35px 35px,
        shadow 36px 36px,
        shadow 37px 37px,
        shadow 38px 38px,
        shadow 39px 39px,
        shadow 40px 40px,
        shadow 41px 41px,
        shadow 42px 42px,
        shadow 43px 43px,
        shadow 44px 44px,
        shadow 45px 45px,
        shadow 46px 46px,
        shadow 47px 47px,
        shadow 48px 48px,
        shadow 49px 49px,
        shadow 50px 50px,
        shadow 51px 51px,
        shadow 52px 52px,
        shadow 53px 53px,
        shadow 54px 54px,
        shadow 55px 55px,
        shadow 56px 56px,
        shadow 57px 57px,
        shadow 58px 58px,
        shadow 59px 59px,
        shadow 60px 60px,
        shadow 61px 61px,
        shadow 62px 62px,
        shadow 63px 63px,
        shadow 64px 64px,
        shadow 65px 65px,
        shadow 66px 66px,
        shadow 67px 67px,
        shadow 68px 68px,
        shadow 69px 69px,
        shadow 70px 70px,
        shadow 71px 71px,
        shadow 72px 72px,
        shadow 73px 73px,
        shadow 74px 74px,
        shadow 75px 75px,
        shadow 76px 76px,
        shadow 77px 77px,
        shadow 78px 78px,
        shadow 79px 79px,
        shadow 80px 80px,
        shadow 81px 81px,
        shadow 82px 82px,
        shadow 83px 83px,
        shadow 84px 84px,
        shadow 85px 85px,
        shadow 86px 86px,
        shadow 87px 87px,
        shadow 88px 88px,
        shadow 89px 89px,
        shadow 90px 90px,
        shadow 91px 91px,
        shadow 92px 92px,
        shadow 93px 93px,
        shadow 94px 94px,
        shadow 95px 95px,
        shadow 96px 96px,
        shadow 97px 97px,
        shadow 98px 98px,
        shadow 99px 99px,
        shadow 100px 100px,
        shadow 102px 101px,
        shadow 102px 102px,
        shadow 103px 103px,
        shadow 104px 104px,
        shadow 105px 105px,
        shadow 106px 106px,
        shadow 107px 107px,
        shadow 108px 108px,
        shadow 109px 109px,
        shadow 110px 110px,
        shadow 111px 111px,
        shadow 112px 112px,
        shadow 113px 113px,
        shadow 114px 114px,
        shadow 115px 115px,
        shadow 116px 116px,
        shadow 117px 117px,
        shadow 118px 118px,
        shadow 119px 119px,
        shadow 120px 120px,
        shadow 121px 121px,
        shadow 122px 122px,
        shadow 123px 123px,
        shadow 124px 124px,
        shadow 125px 125px,
        shadow 126px 126px,
        shadow 127px 127px,
        shadow 128px 128px,
        shadow 129px 129px,
        shadow 130px 130px,
        shadow 131px 131px,
        shadow 132px 132px,
        shadow 133px 133px,
        shadow 134px 134px,
        shadow 135px 135px,
        shadow 136px 136px,
        shadow 137px 137px,
        shadow 138px 138px,
        shadow 139px 139px,
        shadow 140px 140px,
        shadow 141px 141px,
        shadow 142px 142px,
        shadow 143px 143px,
        shadow 144px 144px,
        shadow 145px 145px,
        shadow 146px 146px,
        shadow 147px 147px,
        shadow 148px 148px,
        shadow 149px 149px,
        shadow 150px 150px,
        shadow 151px 151px,
        shadow 152px 152px,
        shadow 153px 153px,
        shadow 154px 154px,
        shadow 155px 155px,
        shadow 156px 156px,
        shadow 157px 157px,
        shadow 158px 158px,
        shadow 159px 159px,
        shadow 160px 160px,
        shadow 161px 161px,
        shadow 162px 162px,
        shadow 163px 163px,
        shadow 164px 164px,
        shadow 165px 165px,
        shadow 166px 166px,
        shadow 167px 167px,
        shadow 168px 168px,
        shadow 169px 169px,
        shadow 170px 170px,
        shadow 171px 171px,
        shadow 172px 172px,
        shadow 173px 173px,
        shadow 174px 174px,
        shadow 175px 175px,
        shadow 176px 176px,
        shadow 177px 177px,
        shadow 178px 178px,
        shadow 179px 179px,
        shadow 180px 180px,
        shadow 181px 181px,
        shadow 182px 182px,
        shadow 183px 183px,
        shadow 184px 184px,
        shadow 185px 185px,
        shadow 186px 186px,
        shadow 187px 187px,
        shadow 188px 188px,
        shadow 189px 189px,
        shadow 190px 190px,
        shadow 191px 191px,
        shadow 192px 192px,
        shadow 193px 193px,
        shadow 194px 194px,
        shadow 195px 195px,
        shadow 196px 196px,
        shadow 197px 197px,
        shadow 198px 198px,
        shadow 199px 199px,
        shadow 200px 200px,
        shadow 201px 201px,
        shadow 202px 202px,
        shadow 203px 203px,
        shadow 204px 204px,
        shadow 205px 205px,
        shadow 206px 206px,
        shadow 207px 207px,
        shadow 208px 208px,
        shadow 209px 209px,
        shadow 210px 210px,
        shadow 211px 211px,
        shadow 212px 212px,
        shadow 213px 213px,
        shadow 214px 214px,
        shadow 215px 215px,
        shadow 216px 216px,
        shadow 217px 217px,
        shadow 218px 218px,
        shadow 219px 219px,
        shadow 220px 220px,
        shadow 221px 221px,
        shadow 222px 222px,
        shadow 223px 223px,
        shadow 224px 224px,
        shadow 225px 225px,
        shadow 226px 226px,
        shadow 227px 227px,
        shadow 228px 228px,
        shadow 229px 229px,
        shadow 230px 230px,
        shadow 231px 231px,
        shadow 232px 232px,
        shadow 233px 233px,
        shadow 234px 234px,
        shadow 235px 235px,
        shadow 236px 236px,
        shadow 237px 237px,
        shadow 238px 238px,
        shadow 239px 239px,
        shadow 240px 240px,
        shadow 241px 241px,
        shadow 242px 242px,
        shadow 243px 243px,
        shadow 244px 244px,
        shadow 245px 245px,
        shadow 246px 246px,
        shadow 247px 247px,
        shadow 248px 248px,
        shadow 249px 249px,
        shadow 250px 250px,
        shadow 251px 251px,
        shadow 252px 252px,
        shadow 253px 253px,
        shadow 254px 254px,
        shadow 255px 255px,
        shadow 256px 256px,
        shadow 257px 257px,
        shadow 258px 258px,
        shadow 259px 259px,
        shadow 260px 260px,
        shadow 261px 261px,
        shadow 262px 262px,
        shadow 263px 263px,
        shadow 264px 264px,
        shadow 265px 265px,
        shadow 266px 266px,
        shadow 267px 267px,
        shadow 268px 268px,
        shadow 269px 269px,
        shadow 270px 270px,
        shadow 271px 271px,
        shadow 272px 272px,
        shadow 273px 273px,
        shadow 274px 274px,
        shadow 275px 275px,
        shadow 276px 276px,
        shadow 277px 277px,
        shadow 278px 278px,
        shadow 279px 279px,
        shadow 280px 280px,
        shadow 281px 281px,
        shadow 282px 282px,
        shadow 283px 283px,
        shadow 284px 284px,
        shadow 285px 285px,
        shadow 286px 286px,
        shadow 287px 287px,
        shadow 288px 288px,
        shadow 289px 289px,
        shadow 290px 290px,
        shadow 291px 291px,
        shadow 292px 292px
        .normal
            color #ffffff
    