<div class="container-fluid">
  <div class="title row d-flex justify-content-center align-items-center">
    <div class="text-center col-12">
      <h1>The bookstore</h1>
    </div>
  </div>
  <div class="sort row d-flex justify-content-center align-items-center">
    <p>sort by:</p>
    <button type="button" class="btn btn-dark" (click)="ratingSort()">rating top</button>
    <button type="button" class="btn btn-light" (click)="rSort()">rating worst</button>
    <button type="button" class="btn btn-dark" (click)="authorSort()">author a-z</button>
    <button type="button" class="btn btn-light" (click)="aSort()">author z-a</button>
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-3 col-sm-6" *ngFor="let book of booklist | slice:0:20">
      <app-book [title]="book?.original_title" [url]="book?.image_url" [rating]="book?.average_rating"></app-book>
    </div>
  </div>
</div>
