.footer
    background-color #2D343A
    padding 35px 0px  25px 10px
    .row .col-md-8 
        color #ffffff
        p   
            display inline
        ul 
            display inline
            padding 0
            li
                color #E8BD36
                display inline
                list-style-position inside
                list-style none
                margin-left 5px
        ul li:before
            content "•"
            color #E8BD36
            padding-right 5px


@media (max-width 900px)
    .footer
        .row .col-md-8 
            border-bottom 1px solid #55595C
            p   
                display block
            ul
                display block
                padding 0
                margin-top 10px
                li   
                    display block
                    margin 0
                li:before  
                    content ''