.docs
    margin-top 80px
    padding-bottom 50px
    .title
        background-color #F7F7F9
        padding-top 80px
        padding-bottom 30px
        color #2D343A
        h3 
            font-size 40px
        p  
            font-size 20px
            color #55595C
            font-weight 300
        .search
            position relative
            color #aaaaaa
            input  
                text-indent 32px
            .fa-search
                position absolute
                top 10px
                left 30px
    .guide
        padding-top 20px
        color #55595C
        div 
            border 1px solid #DCDCDC
            margin 15px 17px 0px 17px
            padding 15px 10px 10px 18px
            p 
                .read a 
                    float right
                    color red
        