<div class="container-fluid">
    <div class="title row d-flex justify-content-center align-items-center">
        <div class="text-center col-12">
            <h1>The bookpad</h1>
            <a href="http://igor-lukyanov.blogspot.mx/2012/07/astronaut-reading-book.html">
            <img class="img-fluid" src="http://3.bp.blogspot.com/-oFlp0cza4A8/UAhn5IfszyI/AAAAAAAADIw/6G513K_oWFg/s1600/astronaut-reading-book.jpg">
            </a>
        </div>
    </div>
</div>  
<router-outlet></router-outlet>
