<div class="features container-fluid">
  <div class="row d-flex align-items-top justify-content-center text-center">
    <div class="point col-md-3 col-sm-12">
      <h1>Approachable</h1>
      <p>Already know HTML, CSS and JavaScript? Read the guide and start building things in no time!</p>
    </div>
    <div class="point col-md-3 col-sm-12">
      <h1>Versatile</h1>
      <p>Simple, minimal core with an incrementally adoptable stack that can handle apps of any scale.</p>
    </div>
    <div class="point col-md-3 col-sm-12">
      <h1>Performant</h1>
      <p>19kb min+gzip Runtime
          Blazing Fast Virtual DOM
          Minimal Optimization Efforts</p>
    </div>
  </div>
</div>