.features 
    padding 3% 0% 6% 0%
    .row 
        padding 0 6% 0% 6%
        .point
            width 250px
            margin-left 80px 
            h2   
                display none

            h1  
                font-size 20px
                color #42b983
                margin-bottom 25px
            p   
                font-size 14px
                color #565555

@media (max-width: 600px)
    .features .row
        padding 0
        .point
            margin 30px 0 0 0
            h2  
                display inline
                color #42b983
                font-size 22px
