.features 
    padding 3% 0% 6% 0%
    .row 
        padding 0 6% 0% 6%
        .point    
            h1  
                width 250px
                font-size 20px
                color #41B883
                margin-bottom 25px
            p   
                font-size 14px
                width 250px
                color #565555