.footer
    background-color #727F80
    padding 4% 0 4% 0
    .row .col-md-2
        img 
            margin-bottom 25px
            width 200px
            height auto
        p  
            color #ffffff
            font-size 13px