.container-fluid .row 
    .back button
        border-radius 0px
        font-weight 700
        margin-bottom 70px
    .info
        h2  
            margin-bottom 20px
        p  
            font-style italic