.navbar 
    background-color #2D343A
    color #D5D6D8
    max-width 100vw
    padding-top 0
    padding-bottom 0
    a 
        margin-left 30px
        img 
            height 50px
            width auto
    #navbarContent
        li
            margin-left 20px
            color #D5D6D8
    .media
        i   
            margin-right 30px
