.navbar 
    background-color #2D343A
    color #D5D6D8
    padding 0 100px 0 130px
    a 
        padding 0
        img 
            height 60px
            width auto
    #navbarContent
        li
            margin-left 20px
            color #D5D6D8
    .media
        i   
            margin-right 20px