.sponsor
    background-color #F6F6F6
    padding 2%
    color #A59999
    .row .logos
        margin 0 22% 0 22%
        h3 
            font-size 15px
        .std
            margin-top 4%
            height auto
            width 180px
            filter grayscale(100%)
            -webkit-filter grayscale(100%)
        a  
            
            .icon
                height auto
                width 100px
                filter grayscale(100%)
                -webkit-filter grayscale(100%)
                margin 3% 2% 0% 2%