<div class="sponsor container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="logos text-center">
      <h3>PROUDLY SPONSORED BY</h3>
      <a href=""><img class="std" src="https://vuejs.org/images/stdlib.png"></a><br>
      <a href=""><img class="icon" src="https://vuejs.org/images/deepstream.png"></a>
      <a href=""><img class="icon" src="https://vuejs.org/images/jsfiddle.png"></a>
      <a href=""><img class="icon" src="https://vuejs.org/images/laravel.png"></a>
      <a href=""><img class="icon" src="https://vuejs.org/images/chaitin.png"></a>
      <a href=""><img class="icon" src="https://vuejs.org/images/htmlburger.png"></a>
      <a href=""><img class="icon" src="https://vuejs.org/images/someline.png"></a>
      <a href=""><img class="icon" src="https://vuejs.org/images/monterail.png"></a>
      <a href=""><img class="icon" src="https://vuejs.org/images/trisoft.png"></a>
      <a href=""><img class="icon" src="https://vuejs.org/images/2mhost.png"></a>
      <a href=""><img class="icon" src="https://vuejs.org/images/vuejobs.svg"></a>
      <a href=""><img class="icon" src="https://vuejs.org/images/tmvuejs2.png"></a>
      <a href=""><img class="icon" src="https://vuejs.org/images/famebroker.png"></a>
      <a href=""><img class="icon" src="https://vuejs.org/images/component_io.png"></a>
    </div>
  </div>
</div>
