<div class="started container-fluid">
  <div class="title row d-flex justify-content-center align-items-center">
    <div class="col-md-7 col-sm-12">
      <h3>Getting Started</h3>
      <p>Introduction to type checking with Flow</p>
    </div>
    <div class="col-md-3 col-sm-12 search">
      <span class="fa fa-search"></span>
      <input class="form-inline form-control mr-sm-2" type="text" placeholder="Search docs" aria-label="Search">
    </div>
  </div>
  <div class="get row  d-flex justify-content-center">
    <div class="main col-md-7 col-sm-12">
      <p>Flow is a static type checker for your JavaScript code. It does a lot of work to make you more productive. Making you code faster,
          smarter, more confidently, and to a bigger scale.<br><br>
      Flow checks your code for errors through <span class="font-weight-bold">static type annotations.</span> These types allow you to tell Flow how you want your code to work, 
      and Flow will make sure it does work that way.
      </p>
      <p class="edit">flow<br>function square(n)</p>
      <p>Because Flow understands JavaScript so well, it doesn’t need many of these 
        types. You should only ever have to do a minimal amount of work to describe 
        your code to Flow and it will infer the rest. A lot of the time, 
        Flow can understand your code without any types at all.</p>
      <p class="edit">flow<br>function square(n)</p>
      <p>You can also adopt Flow incrementally and easily remove it at anytime, 
        so you can try Flow out on any codebase and see how you like it.</p>
      <hr>
      <div class="row d-flex justify-content-end">
        <button type="button" class="btn btn-danger ml-auto">Installation  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </button>
      </div>
      <hr>
      <p>Was this guide helpful? Let us know by sending a 
        message to <span class="flow font-weight-bold"></span>@flowtype.</p>
    </div>
    <div class="side col-md-3 col-sm-12">
      <h4>Getting Started</h4>
      <p><a href="">Installation</a></p>
      <p><a href="">Usage</a></p>
    </div>
  </div>
</div>